.Header {
  display: flex;
  height: 80px;
  background-color: #ffffff;
  padding: 0 22px;
  align-items: center;
}
.Name {
  display: block;
  font-size: 18px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.85);
}
.SignIn,
.SignUp {
  background-color: #ffffff;
  border: none;
  font-size: 18px;
  line-height: 28px;
}
.SignIn {
  margin-left: auto;
  margin-right: 20px;
  color: rgba(0, 0, 0, 0.85);
}
.SignUp {
  width: 109px;
  height: 51px;
  border: 1px solid #52c41a;
  color: #52c41a;
  border-radius: 5px;
}
.Text {
  display: block;
  padding: 10px;
}
.DefaultText {
  color: rgba(0, 0, 0, 0.85);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}
.GreenText {
  color: #52c41a;
}
.CreateArticle {
  display: block;
  width: 115px;
  height: 32px;
  background-color: #ffffff;
  border: 1px solid #52c41a;
  border-radius: 5px;
  margin-left: auto;
}
.User {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 25px;
}
.Avatar {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  margin-left: 13px;
}
.LogOut {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  margin-left: 27px;
  width: 109px;
  height: 51px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}